/*
    Root
*/

:root {
    --primary-font:             Roboto;
    --secondary-font:           Roboto Mono;
    --fg-color:                 #f8f8f2;
    --bg-color:                 #282a36;
    --bg-color-lighter:         #44475a;
    --callout-bg:               #2a292b;
    --quote-bg:                 #44475a;
    --scroll-bg:                #282a36;
    --scroll-handle-color:      #bd93f9;
    --scroll-border-color:      #44475a;
    --cyan:                     #8be9fd;
    --green:                    #50fa7b;
    --orange:                   #ffb86c;
    --pink:                     #ff79c6;
    --purple:                   #bf95f9;
    --red:                      #ff5555;
    --yellow:                   #f1fa8c;
    --tr-border:                #44475a;
    --tr-alt-bg:                #444245;
    --box-border-color:         #44475a;
    --padding-layout:           0.6rem;
    --box-padding:              calc( var( --padding-layout ) + 0.4rem  )
                                calc( var( --padding-layout ) + 0.4rem  )
                                calc( var( --padding-layout ) + 0.4rem  )
                                calc( var( --padding-layout ) + 0.1rem  );
    --box-shadow:               rgba(0, 0, 0, 0.5) 0px 20px 40px -10px;
    --box-border:               1px solid;
    --box-border-radius:        12px;
    --heading-size:             1rem;
    --heading1-size:            calc( var( --heading-size ) * 1.875     );
    --heading2-size:            calc( var( --heading-size ) * 1.5       );
    --heading3-size:            calc( var( --heading-size ) * 1.25      );
    --heading4-size:            calc( var( --heading-size ) * 1         );
    --heading5-size:            calc( var( --heading-size ) * 0.8125    );
}

/*
    Page & Elements
*/

html {
    font-size:                  16px;
    font-weight:                400px;
    box-sizing:                 border-box;
}

header {
    max-height:                 5vh;
    height:                     5vh;
    margin-bottom:              1vh;
    width:                      auto;
}

body {
    line-height:                1.5rem;
    font-family:                var( --secondary-font   );
    background-color:           var( --bg-color         );
    color:                      var( --fg-color         );
    margin:                     0;
}

footer {
    max-height:                 0;
    height:                     0;
}

b {
    font-weight:                600;
}

a {
    text-decoration:            underline;
    color:                      var( --fg-color );
    text-decoration-color:      var( --purple );
}

hr {
    border:                     0;
    border-bottom:              1px solid;
    margin-top:                 1.5vh;
    margin-bottom:              1.5vh;
    border-color:               var( --box-border-color );
	box-shadow:                 var( --box-shadow );
}

.content-container {
    max-width:                  900px;
    box-sizing:                 border-box;
    padding-left:               calc( env( safe-area-inset-right ) + 96px );
    padding-right:              calc( env( safe-area-inset-right ) + 96px );
    margin:                     auto;
    word-break:                 break-word;
}

/*
    Navbar
*/

.navbar {
    top:                        0;
    z-index:                    30;
    font-size:                  1.3rem;
    background:                 var( --bg-color-lighter );
    color:                      var( --purple );
    height:                     55px;
    min-height:                 55px;
    box-shadow:                 rgba(0, 0, 0, 0.5) 0px 4px 8px -2px;
    display:                    flex;
    width:                      auto;
    border:                     1px solid;
    border-color:               var( --bg-color-lighter  );
    position: sticky;
}

.navbar-content-container {
    position:                   relative;
    display:                    flex;
    align-items:                center;
    flex-shrink:                0;
    margin:                     5px;
    height:                     auto;
    white-space:                nowrap;
}

.navbar-logo {
    margin-left:                1rem;
    font-weight:                600;
    font-size:                  1rem;
}

.navbar-item {
    font-weight:                600;
}

/*
    Scrollbar
*/

::-webkit-scrollbar {
    width:                      15px;
}

::-webkit-scrollbar-track {
    border-left:                1px solid;
    border-right:               1px solid;
    border-color:               var( --scroll-border-color  );
    background:                 var( --scroll-bg            );
}

::-webkit-scrollbar-thumb {
    background-color:           var( --scroll-handle-color  );
    border:                     3px solid transparent;
    border-radius:              8px;
    background-clip:            content-box;
}

/*
    Headings
*/

h1 {
    color:                      var( --fg-color );
    line-height:                1.3em;
    white-space:                pre-wrap;
    word-break:                 break-word;
    font-size:                  var( --heading1-size    );
    font-weight:                700;
    margin-bottom:              0;
    padding:                    3px 2px;
    position:                   relative;
    font-family:                var( --primary-font     );
}

h2 {
    color:                      var( --purple           );
    line-height:                1.3em;
    white-space:                pre-wrap;
    word-break:                 break-word;
    font-size:                  var( --heading2-size    );
    font-weight:                600;
    margin-bottom:              0;
    padding:                    3px 0;
    position:                   relative;
    font-family:                var( --primary-font     );
}

h3 {
    color:                      var( --purple           );
    line-height:                1.3em;
    white-space:                pre-wrap;
    word-break:                 break-word;
    font-size:                  var( --heading2-size    );
    font-weight:                600;
    margin-bottom:              0;
    padding:                    3px 2px;
    position:                   relative;
    font-family:                var( --primary-font     );
}

/*
    Lists
*/

ul, ol {
    display:                    block;
    list-style-type:            disc;
    list-style-position:        inside;
    padding-inline-start:       calc(1.5em + 4px);
    margin-block-start:         1em;
    margin-block-end:           1em;
    margin-inline-start:        0px;
    margin-inline-end:          0px;
}

li {
    list-style:                 none;
    text-align:                 -webkit-match-parent;
}

li:before {
    content:                    "\2022";
    color:                      var( --orange );
    margin-right:               0.5em;
}

/*
    Quotes
*/

quote {
    background-color:           #ffffff09;
    margin-top:                 1.25rem;
    margin-bottom:              1.25rem;
    border-left:                5px solid;
    border-color:               var( --purple );
    padding-left:               1rem;
    display:                    grid;
    align-items:                center;
    white-space:                pre-wrap;
}

/*
    Callouts
*/

callout {
    margin-top:                 1.25rem;
    margin-bottom:              1.25rem;
    background-color:           var( --callout-bg        );
    padding:                    var( --box-padding          );
    border:                     var( --box-border           );
    border-color:               var( --box-border-color     );
    border-radius:              var( --box-border-radius    );
    box-shadow:                 var( --box-shadow           );
    display:                    flex;
}

callout-icon {
    font-size:                  1.5rem;
    position:                   relative;
    display:                    flex;
    align-items:                center;
}

callout-content {
    -webkit-margin-start:       8px;
    margin-inline-start:        8px;
    overflow:                   hidden;
    width:                      100%;
    display:                    flex;
    align-items:                center;
}

/*
    Code Blocks
*/

cb {
    display:                    grid;
    background-color:           var( --bg-color-lighter ) !important;
    box-shadow:                 var( --box-shadow );
    word-spacing:               normal;
    word-break:                 normal;
    tab-size:                   4;
    hyphens:                    none;
    font-size:                  0.9rem;
    line-height:                1.5rem;
    white-space:                pre-wrap;
    overflow-wrap:              normal;
    margin:                     10px 0;
    direction:                  ltr;
    overflow:                   auto;
    padding:                    2rem;
    align-content:              center;
    border-radius:              var( --box-border-radius );
}

/*
    Tables
*/

table {
    padding:                    0.2rem;
    box-shadow:                 var( --box-shadow       );
    background-color:           var( --callout-bg    );
    border:                     var( --box-border       );
    border-color:               var( --box-border-color );
    border-radius:              var( --box-border-radius);
}

th {
    text-align:                 left;
    padding-top:                0.3rem;
    padding-left:               0.1rem;
    padding-right:              0.3rem;
    border-bottom:              0.2rem solid;
    border-color:               var( --purple );
}

td {
    padding-left:               0.3rem;
    padding-right:              0.3rem;
    padding-top:                0.3rem;
    padding-bottom:             0.3rem;
}

tr:nth-child( even ) {
    background-color:           var( --tr-alt-bg );
}
